.header-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background: url(../../assets/cafe3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    top: -10vh;
}
.header-title{
    text-align: center;
    color: #fffdf6;
}
.header-title h1{
    font-size: clamp(1.5rem, 5vw, 3rem);
    padding-bottom: 1rem;
    font-family: var(--font-family);
}
.header-title ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-title ul li{
    margin: 0 1rem;
    font-weight: 700;
}
.header-details{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.header-details-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100px;
    padding-left: .1rem;
}
.header-details-left ul{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-quaternary);
}
.header-details-left ul li{
    margin: 0 1rem 0 0;
    padding: 2rem 1rem ;
    color: #ffffff;
    border-right: 1px solid #ffffffa1;
    font-family: var(--font-family);
}
.header-details-left ul li:last-child{
    border-right: none;
    margin: 0;
}
.header-details-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

/* MEDIA QUERIES */
@media screen and (max-width: 768px){
    .header-container{
        height: 80vh;
    }
    .header-title ul{
        flex-wrap: wrap;
    }
    .header-details{
        justify-content: space-between;
        align-items: center;
    }
    .header-details-left{
        margin-bottom: 1rem;
    }
    .header-details-left ul{
        flex-direction: column;
    }
    .header-details-left ul li{
        margin: 0;
        padding: 1rem 0;
        border-right: none;
    }
    .header-details-left ul li:last-child{
        margin: 0;
    }
    .header-details-right{
        margin-top: 1rem;
    }
}