.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
    width: 100%;
    /* box-shadow: 0 0 10px rgba(0,0,0,0.1); */
    position: relative;
    top: 0;
    z-index: 999;
}
.navbar-logo{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
    color: #ffffff;
}
.navbar-logo img{
    width: 50px;
    height: 50px;
    margin-right: 0.5rem;
}
.navbar-links{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.navbar-links li{
    margin: 0 1rem;
}
.navbar-links li a,
.navbar-menu-mobile ul li a{
    color: #ffffff;
    font-weight: 500;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.navbar-toggle {
    display: none;
}
.navbar-toggle svg {
    margin-left: 3rem;
}
.navbar-menu-mobile {
    position: absolute;
    top: 3.5rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffffe3;
    padding: 2rem;
}

.navbar-menu-mobile ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navbar-menu-mobile ul li {
    margin-bottom: 10px;
}
.navbar-menu-mobile ul li:last-child {
    margin-bottom: 0;
}
.navbar-links li a:hover,
.navbar-menu-mobile ul li a:hover {
    color: var(--color-secondary);
}

.navbar-links li:last-child button,
.navbar-menu-mobile ul li:last-child button {
    border: 1px solid #ffffff;
    color: #ffffff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: clamp(.8rem, 1.1vw, 1.1rem);
    cursor: pointer;
}
.navbar-links li:last-child button:hover,
.navbar-menu-mobile ul li:last-child button:hover {
    background-color: #ffffff;
    color: var(--color-secondary);
}


/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
  .navbar-container {
    justify-content: space-between;
  }

  .navbar-toggle {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    color: #ffffff;
  }

  .navbar-links {
    display: none;
  }
}